body {
    margin: 20px;
    background-image: url("./image/nuclear.jpg");
}
* {
    font-family: arial;
}



form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

h1 {
    text-align: center;
    color: #FFFAFA;
    background: black;
}

input[type=submit] {
    border: solid 1px violet;
    margin-bottom: 10px;
    float: right;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    width: 120px;
}

input[type=text],
[type=password] {
    border: solid 1px violet;
    margin-bottom: 10px;
    padding: 16px;
    outline: none;
    border-radius: 7px;
    width: 300px;
}

.erreur {
    text-align: center;
    color: red;
    margin-top: 10px;
}

a {
    font-size: 14pt;
    color: yellow;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
    color: yellow;
}